<p>workplan-instructions works!</p>
<div class="toolbar ml-5">
    <div class="toolbar_left">
        <button routerLink='/new-workplan' mat-raised-button color="secondary">
            <mat-icon aria-hidden="false">add_box</mat-icon>
            
        </button>
        <button routerLink='/new-workplan' mat-raised-button color="secondary">
            <mat-icon aria-hidden="false">delete</mat-icon>
            
        </button>
        <button routerLink='/new-workplan' mat-raised-button color="secondary">
            <mat-icon aria-hidden="false">delete_sweep</mat-icon>
            
        </button>
        <button routerLink='/new-workplan' mat-raised-button color="secondary">
            <mat-icon aria-hidden="false">check</mat-icon>
            
        </button>
        
    </div>
</div>