<div class="content">
    <div class="nodes">
        <div class="mt-3">
            <label>Type: </label>
            <mat-form-field appearance="legacy">
                <input matInput type="text" placeholder="">
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Id: </label>
            <mat-form-field appearance="legacy">
                <input matInput type="text" placeholder="">
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Name: </label>
            <mat-form-field appearance="legacy">
                <input matInput type="text" placeholder="">
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Address: </label>
            <mat-form-field appearance="legacy">
                <input matInput type="text" placeholder="">
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Coordinates: </label>
            <mat-form-field appearance="legacy">
                <input matInput type="text" placeholder="">
            </mat-form-field>
        </div>
    </div>
    <div class="action-buttons">
        <button routerLink='/devices' mat-raised-button>
            CANCEL
        </button>
        <button class="ml-3" mat-raised-button>
            SAVE
        </button>
    </div>
</div>

