<div style="text-align:center; margin-top: 100px; "><mat-card style="margin-top:10px; width: 50%;">  
    <div>
        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
    </div>


    <mat-card-content>  
        <ul>  
            <li *ngFor="let file of files">  
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                <span id="file-label">  
                    <label>{{file.data.name}}</label>
                </span>  
            </li>  
        </ul>  
    </mat-card-content>  
    <mat-card-actions>  
        <button mat-button color="warn" (click)="onClick()">  
            <mat-icon>file_upload</mat-icon>  
            Upload  
        </button>  
    </mat-card-actions>  
</mat-card><input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" (change)="detectFiles($event)" /></div>



<div class="mt-3">
    <button class=" ml-5 btn btn-lg btn-primary"   (click)="onSaveClick()">Save Changes</button>
</div>
