<p>unread-notifikations works!</p>
<div class="mt-3">
    
    <hr/>
    <div class="main_content">
        <table>
            <tbody *ngFor="let notifikacija of neprocitane" (click)="clickedRow(notifikacija)">
                
                <tr *ngIf="(notifikacija.tip=='error' && podesavanja.errorvidljive) || (notifikacija.tip=='info' && podesavanja.infovidljive) || (notifikacija.tip=='warning' && podesavanja.warningvidljive) || (notifikacija.tip=='success' && podesavanja.successvidljive)"
                [class.colorError]='notifikacija.tip=="error"'
                [class.colorInfo]='notifikacija.tip=="info"'
                [class.colorSuccess]='notifikacija.tip=="success"'
                [class.colorWarning]='notifikacija.tip=="warning"'
                >
                    <td style="width: 30px;"></td>
                    <td style="width: 40px;"style="width: 40px;"><mat-icon style="width: 40px;">{{notifikacija.ikona}}</mat-icon></td>
                    <td>{{notifikacija.tekst}}</td>
                    <td style="width: 100px;">{{notifikacija.vreme | date:"dd MM yyyy HH:mm:ss" }}</td>
                    <td style="text-align:left;width:100px">{{notifikacija.procitana?"Read":"Unread"}}</td>
                   
                    
                </tr>
                
                
            </tbody>
        </table>
         
    </div>
    <div class="footer" aligment="right">
        <button (click)="ReadAll()">Mark All As Read
            
        </button>
        <button (click)="ClearAll()" > Clear All
           
        </button>
    </div>
</div>
