.toolbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.tooblar_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content {
    overflow: auto;
}

table {
    width: 100%;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0 1em;
}
tr{
    background-color: rgb(66, 243, 66);
    height: 60px;
    
}

td,th{
    border-top:  3px solid black;
    border-bottom:  3px solid black;
}


tr td:first-of-type {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(66, 243, 66);
    border-left:  3px solid black;
    
}
  
tr td:last-of-type {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(66, 243, 66);
    border-right:  3px solid black;
}

