<p>success-notifikations works!</p>
<div class="mt-3">
    
    <hr/>
    <div class="main_content">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
           <ng-container matColumnDef="ikona">
               <th mat-header-cell *matHeaderCellDef ></th>
               <td mat-cell *matCellDef="let element" class="status"><mat-icon>{{element.ikona}}</mat-icon></td>
           </ng-container>
            <ng-container matColumnDef="tip">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.tip}} </td>
            </ng-container>
            <ng-container matColumnDef="tekst">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis </th>
              <td mat-cell *matCellDef="let element"> {{element.tekst}}</td>
            </ng-container>
            <ng-container matColumnDef="vreme">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Vreme </th>
              <td mat-cell *matCellDef="let element"> {{element.vreme.getDay()}}-{{element.vreme.getMonth()}}-{{element.vreme.getFullYear()}} </td>
            </ng-container>
            <ng-container matColumnDef="procitana">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Procitana </th>
              <td mat-cell *matCellDef="let element"> {{element.procitana ? "Read" :"Unread"}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="footer" aligment="right">
        <button (click)="ReadAll()">Mark All As Read
            
        </button>
        <button (click)="ClearAll()" > Clear All
           
        </button>
    </div>
</div>