.toolbar {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.main_content {
  overflow: auto;
  background-color: transparent;
}

.tableMod{
  padding: 2%;
}

table {
  width: 100%;
  background-color: white;
  border-radius: 15px;
}
tr:hover {background-color:#687adfb2;}

th {
    font-size: 16pt;
}

th.mat-sort-header-sorted {
  color: black;
}

.paginator {
    background-color: whitesmoke;
}

.modalDev{
  width: 900px;
}


