<p>notifikacija works!</p>

<div class="main_content">
    <div class="row row-cols-lg-auto g-3 grid">
        <div class="tab">
            <button routerLink="all-notifications" mat-button class="tablinks mt-2">All Notifications</button>
            <button routerLink="unread-notifications" mat-button class="tablinks">Unread Notifications</button>
            <button routerLink="error-notifications" mat-button *ngIf="podesavanja.errorvidljive" class="tablinks mb-2">Error
                <mat-icon class="red-icon">error</mat-icon>
            </button>
            <button routerLink="info-notifications" mat-button class="tablinks" *ngIf="podesavanja.infovidljive">Info
                <mat-icon class="blue-icon">info_outline</mat-icon>
            </button>
            <button routerLink="success-notifications" mat-button class="tablinks" *ngIf="podesavanja.successvidljive">Success
                <mat-icon class="green-icon" >check</mat-icon>
            </button>
            <button routerLink="warning-notifications" mat-button class="tablinks" *ngIf="podesavanja.warningvidljive">Warning
                <mat-icon class="yellow-icon">warning</mat-icon>
            </button>
          
        </div>
        <div class="tabcontent">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>
