<div class="main__cards">
  <a routerLink="/incidents">
    <div class="card ml-5">
      <div class="card_inner">
        <span class="font-bold text-title">MY INCIDENTS</span>
        <div>
            <mat-icon aria-hidden="false">warning</mat-icon>
            <small class="ml-1"><b>5</b></small>
        </div>
      </div>
      <hr/>
      <div class="card_inner">
          <div>
            <small class="mt-2"><b>0</b> Drafts<br/></small>
            <small class="mt-2"><b>0</b> Canceled<br/></small>
            <small class="mt-2"><b>2</b> Executing<br/></small>
            <small class="mt-2"><b>1</b> Completed<br/></small>
          </div>
      </div>
    </div>
  </a>
  <a routerLink="/workplans">
    <div class="card">
      <div class="card_inner">
        <span class="font-bold text-title">MY WORK PLANS</span>
        <div>
            <mat-icon aria-hidden="false">assignment</mat-icon>
            <small class="ml-1"><b>4</b></small>
        </div>
      </div>
      <hr/>
      <div class="card_inner">
          <div>
            <small class="mt-2"><b>2</b> Drafts<br/></small>
            <small class="mt-2"><b>0</b> Canceled<br/></small>
            <small class="mt-2"><b>2</b> Executing<br/></small>
            <small class="mt-2"><b>2</b> Submitted<br/></small>
          </div>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="card">
      <div class="card_inner">
        <span class="font-bold text-title">MY SAFETY DOCS</span>
        <div>
            <mat-icon aria-hidden="false">description</mat-icon>
            <small class="ml-1"><b>10</b></small>
        </div>
      </div>
      <hr/>
      <div class="card_inner">
          <div>
            <small class="mt-2"><b>0</b> Drafts<br/></small>
            <small class="mt-2"><b>0</b> Canceled<br/></small>
            <small class="mt-2"><b>2</b> Executing<br/></small>
            <small class="mt-2"><b>1</b> Completed<br/></small>
          </div>
      </div>
    </div>
  </a>
</div>
