.main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 20px 0;
  }

  .main__cards > a {
    color: black;
    text-decoration: none;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 260px;
    padding: 25px;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 2px 2px 5px #666565;
  }
  
  .card_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card_inner > span {
    font-size: 27px;
    color: teal;
    font-weight: 500;
  }

  .card_inner > div {
    font-size: 20px;
    margin-left: 25px;
  }

  #chart1 {
    margin: 35px auto;
    width: 890px;
  }

  .chart_line {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 25px;
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 2px 2px 5px #666565;
  }

  #chart2 {
    margin: 35px auto;
    width: 420px;
  }

  