
    <div id="context" class="container wrapper">
        <div class="row row-cols-2">
          <div style="height: 100px;" class="col mt-5">Column</div>
          <div style="height: 100px;" class="col mt-5">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div style="height: 100px;" class="col">Column</div>
          <div class="col">Column</div>
        </div>
    </div>
