* {box-sizing: border-box}

.footer {
  background-color: #f1f1f1;
  border-radius: 0 0 20px 20px;
  border: 1px solid rgb(163, 163, 163);
  border-top: none;
  display: flex;
  justify-content: center;
  position: relative;
  left: 82%;
  width: 120px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.grid {
    display: flex;
    justify-content: center;
}

/* Style the tab */
.tab {
  border-radius: 15px 0 0 15px;
  float: left;
  border: 1px solid rgb(163, 163, 163);
  background-color: #f1f1f1;
  width: 220px;
  max-width: 250px;
  border-bottom: none;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  font-size: 16px;
  background-color: inherit;
  color: black;
  padding: 10px;
  width: 92%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 10px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.selected {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  border-radius: 0 15px 15px 0;
  background-color: #f1f1f1c0;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  min-width: 607px;
  height: inherit;
  border: 1px solid rgb(163, 163, 163);
  border-left: none;
  border-bottom: none;
  box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.3);
}

.main_content {
    height: 70vh;
    min-width: 900px;
}