<div class="main_content">
    <div class="row row-cols-lg-auto g-3 grid">
        <div class="tab">
            <button routerLink="basic-info" routerLinkActive="selected" mat-button class="mt-2">Basic Information</button>
            <button routerLink="devices" routerLinkActive="selected" mat-button class="tablinks">Devices</button>
            <button routerLink='resolution' routerLinkActive="selected" mat-button class="tablinks">Resolution</button>
            <button routerLink='calls' routerLinkActive="selected" mat-button class="tablinks">Calls</button>
            <button routerLink='crew' routerLinkActive="selected" mat-button class="tablinks">Crew</button>
            <button routerLink='multimedia-attachments' routerLinkActive="selected" mat-button class="tablinks mb-2">Multimedia Attachments</button>
        </div>
        <div class="tabcontent">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer">
        <button routerLink="/incidents" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
        <button (click)="onSubmit()" class="ml-2" mat-icon-button>
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>


