div > label {
    width: 35%;
    font-size: 15px;
    font-weight: 300;
  }

  .nodes {
      display: flex;
      justify-content:space-between;
      background-color: rgb(241,241,241);
  }
  


  