<div class="nodes">
    <div class="container mt-3 ml-1 mb-3">
        <div class="mt-3">
            <label>Incident ID:</label>
            <mat-form-field appearance="legacy">
                <input matInput type="text" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Type: </label>
            <mat-form-field appearance="legacy">
                <mat-select placeholder="Select Type">
                    <mat-option value="option 1">Planned Work</mat-option>
                    <mat-option value="option 2">Unplanned Work</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Priority: </label>
            <mat-form-field appearance="legacy">
                <mat-select placeholder="Select Priority">
                    <mat-option value="option 1">1</mat-option>
                    <mat-option value="option 2">2</mat-option>
                    <mat-option value="option 3">3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Confirmed: </label>
            <input type="checkbox">
        </div>
        <div class="mt-3">
            <label>Status:</label>
            <label>Dispatched</label>
        </div>
        <div class="mt-3">
            <label>Description:</label>
            <mat-form-field appearance="legacy">
                <input matInput type="text" [(ngModel)]="valueDesc">
                <button mat-button *ngIf="valueDesc" matSuffix mat-icon-button aria-label="Clear" (click)="valueDesc=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>ETA:</label>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="mt-3">
            <label>ATA:</label>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
    <div class="container mt-3 ml-5 mb-3">
        <div class="mt-3">
            <label>Affected Comsumers:</label>
            <mat-form-field appearance="legacy">
                <input matInput type="number" placeholder="">
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Outage Time:</label>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="outageTime">
                <mat-datepicker-toggle matSuffix [for]="outageTime"></mat-datepicker-toggle>
                <mat-datepicker #outageTime></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="mt-3">
            <label>ETR:</label>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="etrPicker">
                <mat-datepicker-toggle matSuffix [for]="etrPicker"></mat-datepicker-toggle>
                <mat-datepicker #etrPicker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Calls:</label>
            <mat-form-field appearance="legacy">
                <input matInput type="number" value="5">
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Voltage [kV]:</label>
            <mat-form-field appearance="legacy">
                <input type="number" matInput>
            </mat-form-field>
        </div>
        <div class="mt-3">
            <label>Scheduled Time:</label>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="schTimePicker">
                <mat-datepicker-toggle matSuffix [for]="schTimePicker"></mat-datepicker-toggle>
                <mat-datepicker #schTimePicker></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
</div>




