  .toolbar {
    display: flex;
    align-items: center;
    justify-content:space-between;
  }

  .tooblar_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_content {
    overflow: auto;
    border-radius: 20px;
    box-shadow: 0 0px 10px 0 rgba(0,0,0,0.3);
  }

  table {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
  }

  th {
      font-size: 16pt;
      font-weight: 600;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }


  .paginator {
      background-color: whitesmoke;
      width: 100%;
      border-radius: 0 0 20px 20px;
  }

  th,td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
  }



