<div class="nodes">
    <div class="mt-3">
        <label>Cause: </label>
        <mat-form-field appearance="legacy">
            <mat-select placeholder="Select Cause">
                <mat-option value="option 1">Weather</mat-option>
                <mat-option value="option 2">Human Factor</mat-option>
                <mat-option value="option 3">Break Down</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="mt-3">
        <label>Subcause: </label>
        <mat-form-field appearance="legacy">
            <mat-select placeholder="Select Subcause">
                <mat-option value="option 1">1</mat-option>
                <mat-option value="option 2">2</mat-option>
                <mat-option value="option 3">3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="mt-3">
        <label>Construction Type: </label>
        <mat-form-field appearance="legacy">
            <mat-select placeholder="Select Type">
                <mat-option value="option 1">Underground</mat-option>
                <mat-option value="option 2">Overground</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="mt-3">
        <label>Material: </label>
        <mat-form-field appearance="legacy">
            <mat-select placeholder="Select Material">
                <mat-option value="option 1">Metal</mat-option>
                <mat-option value="option 2">Plastic</mat-option>
                <mat-option value="option 3">Wood</mat-option>
                <mat-option value="option 3">Glass</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

