
<div class="main_content">
    <div class="row row-cols-lg-auto g-3 grid">
        <div class="tab">
            <button routerLink="workplan-basic-info" mat-button class="tablinks mt-2">Basic Information</button>
            <button routerLink='workplan-state-history' mat-button class="tablinks">History of state changes</button>
            <button routerLink='multimedia-attachments' mat-button class="tablinks mb-2">Multimedia attachments</button>
            <button routerLink="workplan-devices" mat-button class="tablinks">Equipment</button>
            <button routerLink="new-workplan-instructions" mat-button class="tablinks">Switching instructions</button>
          
        </div>
        <div class="tabcontent">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>
