<div class="container">
      <nav class="navbar">
        <div class="navbar__left">
          <a href="/home">HOME</a>
        </div>
        <div class="navbar__right">
            <button mat-raised-button color="warn" class="warn fadeIn third">
                <mat-icon class="mr-2">phone</mat-icon>Report Outage
            </button>
          <a class="text-lightblue" href="#">CREATE ACCOUNT</a>
          <a class="text-lightblue" href="profile">PROFILE</a>
        </div>
      </nav>
      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <a href="/home" class="text-yellow">GSS Distribution</a>
          </div>
        </div>
        <div class="sidebar__menu">
          <div class="sidebar__link active_menu_link">
            <mat-icon class="mr-2" aria-hidden="false">home</mat-icon>
            <a routerLink="/dashboard">DASHBOARD</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">search</mat-icon>
            <a class="text-green" href="#">SEARCH</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">article</mat-icon>
            <a href="#">DOCUMENTS</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">location_on</mat-icon>
            <a href="#">MAPS</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">add_business</mat-icon>
            <a href="#">ADD DEVICE</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">group_add</mat-icon>
            <a href="#">ADD CREW</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">person_add</mat-icon>
            <a routerLink="/potrosaci">ADD CONSUMER</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">notifications</mat-icon>
            <a routerLink="/notifikacije">NOTIFICATIONS</a>
          </div>
          <div class="sidebar__link">
            <mat-icon class="mr-2" aria-hidden="false">settings</mat-icon>
            <a routerLink='/settings'>SETTINGS</a>
          </div>
          <div  (click)="logout()"  >
            <mat-icon class="mr-2" aria-hidden="false"  >logout</mat-icon>
            <label>LOG OUT</label>
          </div>
        </div>
      </div>
      <main>
        <div class="main__container">
            <router-outlet></router-outlet>
        </div>
      </main>
</div>