<div class="container bg">
      <nav class="navbar">
        <div class="navbar__left">
          <a routerLink="/home" routerLinkActive="a">HOME</a>
        </div>
        <div class="navbar__right">
            <button mat-raised-button color="warn" class="warn fadeIn third">
                <mat-icon class="mr-2">phone</mat-icon>Report Outage
            </button>
          <a class="text-lightblue" href="#">CREATE ACCOUNT</a>

          <a class="text-lightblue" href="profile">PROFILE</a>

        </div>
      </nav>
      <div id="sidebar">
        <div class="sidebar__title">
          <div class="sidebar__img">
            <a href="/home" class="text-yellow"><img src="/assets/images/logo2.png"></a>
          </div>
        </div>
        <div class="sidebar__menu">
          <div class="sidebar__link">
            <button class="sidebar-button" title="Dashboard" mat-button routerLink="/dashboard" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">home</mat-icon>
              <span class="minimized">DASHBOARD</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Search" mat-button routerLink="/devices">
              <mat-icon class="mr-2" aria-hidden="false">search</mat-icon>
              <span class="minimized">SEARCH</span> 
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Documents" mat-button routerLink="#" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">article</mat-icon>
              <span class="minimized">DOCUMENTS</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Maps" mat-button routerLink="#" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">location_on</mat-icon>
              <span class="minimized">MAPS</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Devices" mat-button routerLink="/devices" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">add_business</mat-icon>
              <span class="minimized">DEVICES</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Add Crew" mat-button routerLink="#" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">group_add</mat-icon>
              <span class="minimized">ADD CREW</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Add Consumer" mat-button routerLink="/potrosaci" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">person_add</mat-icon>
              <span class="minimized">ADD CONSUMER</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Notifications" mat-button routerLink="/notifikacije" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">notifications</mat-icon>
              <span class="minimized">NOTIFICATIONS</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Zahtevi" mat-button routerLink="/zahtevi" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">list</mat-icon>
              <span class="minimized">ZAHTEVI</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" title="Settings" mat-button routerLink="/settings" routerLinkActive="active_menu_link">
              <mat-icon class="mr-2" aria-hidden="false">settings</mat-icon>
              <span class="minimized">SETTINGS</span>
            </button>
          </div>
          <div class="sidebar__link">
            <button class="sidebar-button" (click)='logout()' title="Logout" color="warn" mat-button>
              <mat-icon class="mr-2" aria-hidden="false">logout</mat-icon>
              <span class="minimized">LOGOUT</span>
            </button>
          </div>
        </div>
      </div>
      <main>
        <div class="main__container">
            <router-outlet></router-outlet>
        </div>
      </main>
</div>